.tl{
  position: absolute ;
  top: 0;
  left: 0;
  background-color: aqua;
}
.bl{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: aqua;
}
.tr{
  position: absolute ;
  top: 0;
  right: 0;
  background-color: aqua;
}
.br{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: aqua;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aqua;
}